%h1 Listing assignments

%table
  %thead
    %tr
      %th User
      %th Role
      %th
      %th
      %th

  %tbody
    - @assignments.each do |assignment|
      %tr
        %td= assignment.user
        %td= assignment.role
        %td= link_to 'Show', assignment
        %td= link_to 'Edit', edit_assignment_path(assignment)
        %td= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Assignment', new_assignment_path
