= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  %div.row
    %div.col-lg-4.offset-lg-4
      %h4.page-title Register
      %table.invisible-layout-table
        %tr
          %td.field-name
            Email:
          %td.field-value
            = f.email_field :email, autofocus: true, autocomplete: "email"
        %tr
          %td.field-name
            New password:
          %td.field-value
            = f.password_field :password, autocomplete: "new-password"
        %tr
          %td.field-name
            New password confirmation:
          %td.field-value
            = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up!", :class => 'btn btn-success btn-xs'

