%h4.page-title All Technologies

%div.row
  %div.col-lg-6
    - if policy(Technology).create?
      = link_to 'New Technology', new_technology_path, :class => "btn btn-info btn-xs"
  %div.col-lg-6.right-aligned
    = render "_shared/download_machine_readable_data_buttons"

= render(:partial => 'table',:locals => {:technology_list => @technologies})

%div.row
  %div.col-lg-6
    - if policy(Technology).create?
      = link_to 'New Technology', new_technology_path, :class => "btn btn-info btn-xs"
  %div.col-lg-6.right-aligned
    = render "_shared/download_machine_readable_data_buttons"