= form_for @status do |f|
  - if @status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@status.errors.count, "error")} prohibited this status from being saved:"
      %ul
        - @status.errors.full_messages.each do |message|
          %li= message

  %table.invisible-layout-table
    %tr
      %td.field-name
        Name:
      %td.field-value
        = f.text_field :name
    %tr
      %td.field-name
        Description:
      %td.field-value
        = f.text_area :description, :rows => 10
    %tr
      %td.field-name
        Editors' Comments:
        %br
        %i (not displayed to users)
      %td.field-value
        = f.text_area :editorial, :rows => 10, :class => 'editorial-comment-field'
  .actions
    = link_to 'Cancel', @status, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'