%p#notice= notice

%p
  %b Name:
  = @status.name
%p
  %b Description:
  = @status.description
%p
  %b Slug:
  = @status.slug
%p
  %b Notes:
  = @status.notes

= link_to 'Edit', edit_status_path(@status)
\|
= link_to 'Back', statuses_path
