%h4.page-title
  = "Status: #{@status.name}"
%table.invisible-layout-table
  -#%tr
  -#  %td.field-name
  -#    Last updated:
  -#  %td
  -#    = @status.updated_at.strftime('%Y-%m-%d %H:%M UTC')
  %tr
    %td.field-name
      Description:
    %td
      = @status.description
%br
  - if !@status.notes.blank?
    %h5 Notes
    = @status.notes

- if policy(Status).edit?
  = link_to 'Edit', edit_status_path(@status), :class => "btn btn-info btn-xs"
%br
%br
%h5 Technologies with this Status

= render(:partial => 'technologies/table',:locals => {:technology_list => @status.technologies})
