= form_for @governance do |f|
  - if @governance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@governance.errors.count, "error")} prohibited this governance model from being saved:"
      %ul
        - @governance.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    %tr
      %td.field-name
        Name:
      %td.field-value
        = f.text_field :name
    %tr
      %td.field-name
        Description:
      %td.field-value
        = f.text_field :description
      %tr
        %td.field-name
          Notes:
        %td.field-value
          = f.text_area :notes, :rows => 10
  .actions
    = link_to 'Cancel', @governance, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'