%h4.page-title
  = "Governance: #{@governance.name}"
%table.invisible-layout-table
  -#%tr
  -#  %td.field-name
  -#    Last updated:
  -#  %td
  -#    = @governance.updated_at.strftime('%Y-%m-%d %H:%M UTC')
  %tr
    %td.field-name
      Description:
    %td
      = @governance.description

- if policy(Governance).edit?
  = link_to 'Edit', edit_governance_path(@governance), :class => "btn btn-info btn-xs"
%br
%br
%h5 Technologies with this governance

= render(:partial => 'technologies/table',:locals => {:technology_list => @governance.technologies})

