%h4.page-title Adoption Levels

%div.row
  %div.col-lg-6
    - if policy(AdoptionLevel).create?
      = link_to 'New Adoption level', new_adoption_level_path, :class => "btn btn-info btn-xs"
  %div.col.right-aligned
    = render "_shared/download_machine_readable_data_buttons"

%table{:class=>"table table-condensed table-striped sorted-table"}
  %thead
    %tr
      %th Name
      %th.unsorted-column Description
      %th Technologies with this adoption level
      - if (policy(AdoptionLevel).edit?)|(policy(AdoptionLevel).destroy?)
        %th.actions Actions

  %tbody
    - @adoption_levels.each do |adoption_level|
      %tr
        %td.no-wrap= link_to adoption_level.name, adoption_level
        %td.expand-to-fit-available-space= adoption_level.description
        %td.number= adoption_level.technologies.count
        - if (policy(AdoptionLevel).edit?)|(policy(AdoptionLevel).destroy?)
          %td.actions
            - if policy(AdoptionLevel).edit?
              = link_to 'Edit', edit_adoption_level_path(adoption_level), :title => 'Edit', :class => "btn btn-info btn-xs"
            - if policy(AdoptionLevel).destroy?
              = link_to 'Delete', adoption_level, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete', :class => "btn btn-info btn-xs"
%div.row
  %div.col-lg-6
    - if policy(AdoptionLevel).create?
      = link_to 'New Adoption level', new_adoption_level_path, :class => "btn btn-info btn-xs"
  %div.col.right-aligned
    = render "_shared/download_machine_readable_data_buttons"