= form_for @relationship do |f|
  - if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    %tr
      %td
        = select_tag "subj", options_from_collection_for_select(Technology.all, "id", "name", @relationship.subj.id)
      %td
        = f.text_field :predicate
      %td
        = select_tag "obj", options_from_collection_for_select(Technology.all, "id", "name", @relationship.obj.id)


  .actions
    = link_to 'Cancel', @relationship, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'