= form_for @relationship do |f|
  - if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    %tr
      %td
        - if @relationship.new_record?
          = f.select "subj_id", options_from_collection_for_select(Technology.all, "id", "name")
        - else
          = f.select "subj_id", options_from_collection_for_select(Technology.all, "id", "name", @relationship.subj.id)
      %td
        = f.hidden_field :predicate, :value => 'depends_on'
        depends_on
      %td
        - if @relationship.new_record?
          = f.select "obj_id", options_from_collection_for_select(Technology.all, "id", "name")
        - else
          = f.select "obj_id", options_from_collection_for_select(Technology.all, "id", "name", @relationship.obj.id)


  .actions
    = link_to 'Cancel', @relationship, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'