%h4.page-title
  = "Relationship: #{@relationship.subj.name} #{@relationship.predicate} #{@relationship.obj.name}"
%table.invisible-layout-table
  %tr
    %td.field-name
      Predicate:
    %td
      = @relationship.predicate
  %tr
    %td.field-name
      Subject:
    %td
      = @relationship.subj.name
  %tr
    %td.field-name
      Object:
    %td
      = @relationship.obj.name

- if policy(Relationship).edit?
  = link_to 'Edit', edit_relationship_path(@relationship), :class => "btn btn-info btn-xs"