= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    %tr
      %td.field-name
        Email:
      %td.field-value
        = f.text_field :email
    %tr
      %td.field-name
        Password:
      %td.field-value
        = f.password_field :password
    %tr
      %td.field-name
        Confirm Password:
      %td.field-value
        = f.password_field :password_confirmation
    %tr
      %td.field-name
        Forename(s):
      %td.field-value
        = f.text_field :forenames
    %tr
      %td.field-name
        Last Name:
      %td.field-value
        = f.text_field :lastname
    %tr
      %td.field-name
        Editors' Comments:
        %br
        %i (not displayed to users)
      %td.field-value
        = f.text_area :editorial, :rows => 10, :class => 'editorial-comment-field'
    %tr
      %td.field-name
        Roles:
      %td.field-value
        = collection_check_boxes(:user, :role_ids, Role.all, :id, :name) do |c|
          = c.check_box
          = c.label
          %br
  .actions
    = link_to 'Cancel', @user, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'