%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:'http-equiv'=> "X-UA-Compatible", :content=>"IE=edge"}
  %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
  %title SComCaT
  = csrf_meta_tags
  = csp_meta_tag
  - if !ENV['SCOMCAT_GOOGLE_ANALYTICS_CODE'].blank?
    -#Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=#{ENV['SCOMCAT_GOOGLE_ANALYTICS_CODE']}"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "#{ENV['SCOMCAT_GOOGLE_ANALYTICS_CODE']}");
  %link{:href=>"https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap", :rel=>"stylesheet"}


  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'