- if ['adoption_levels'].include? controller.controller_name
  - classifications_extra_css_class = 'nav-item-selected'
- else
  - extra_css_class = ''

%div.row.site-header-row
  %div.col-sm-8
    %div.site-header
      %a.site-header{:href=>"/"} SComCat
    %div.site-sub-header
      Scholarly Communications Technology Catalogue
  %div.col-sm-4#header-login-col
    - if user_signed_in?
      ="User: #{current_user.email}"
      = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-info btn-xs'
      %br
      = link_to "Change your password", edit_user_registration_path
    - else
      = link_to "Log in", new_user_session_path, :class => 'btn btn-info btn-xs'

%div.row
  %div.col
    =render '_shared/alerts'
    %div{:id=>"navbar-scomcat"}
      %nav{:id=>"top-nav-bar", :class=>"navbar navbar-expand-sm navbar-light navbar-scomcat"}
        %button{:class=>"navbar-toggler", :type=>"button", :"data-toggle"=>"collapse", :"data-target"=>"#navbarSupportedContent", :"aria-controls"=>"navbarSupportedContent", :"aria-expanded"=>"false", :"aria-label"=>"Toggle navigation"}
          %span{:class=>"navbar-toggler-icon"}
        %div{:class=>"collapse navbar-collapse", :id=>"navbarSupportedContent"}
          %ul{:class=>"nav mr-auto"}
            -if controller.controller_name == "home"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Home", root_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Home", root_path, :class => "nav-link"
            -if controller.controller_name == "technologies"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Technologies", technologies_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Technologies", technologies_path, :class => "nav-link"
            -if controller.controller_name == "functions"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Functions", functions_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Functions", functions_path, :class => "nav-link"
            -if controller.controller_name == "categories"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Categories", categories_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Categories", categories_path, :class => "nav-link"
            - if policy(Relationship).index?
              -if controller.controller_name == "relationships"
                %li{:class=>"nav-item nav-item-selected"}
                  =link_to "Relationships", relationships_path, :class => "nav-link"
              -else
                %li{:class=>"nav-item"}
                  =link_to "Relationships", relationships_path, :class => "nav-link"
            -if controller.controller_name == "tags"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "Tags", tags_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "Tags", tags_path, :class => "nav-link"
              %li{:class=>"nav-item dropdown #{classifications_extra_css_class}"}
                %a{:class=>"nav-link dropdown-toggle", :id=>"navbarDropdown", :role=>"button", :"data-toggle"=>"dropdown", :"aria-haspopup"=>"true", :"aria-expanded"=>"false"}Classifications
                %div{:class=>"dropdown-menu", :"aria-labelledby"=>"navbarDropdown"}
                  =link_to "Adoption Levels", adoption_levels_path, :class => "nav-link dropdown-item"
                  =link_to "Readiness", readiness_levels_path, :class => "nav-link dropdown-item"
                  =link_to "Governance", governances_path, :class => "nav-link dropdown-item"
                  =link_to "Status", statuses_path, :class => "nav-link dropdown-item"
                  =link_to "Business Form", business_forms_path, :class => "nav-link dropdown-item"
            - if policy(AdminController).index?
              -if controller.controller_name == "admin"
                %li{:class=>"nav-item nav-item-selected"}
                  =link_to "Admin", admin_path, :class => "nav-link"
              -else
                %li{:class=>"nav-item"}
                  =link_to "Admin", admin_path, :class => "nav-link"
            -if controller.controller_name == "about"
              %li{:class=>"nav-item nav-item-selected"}
                =link_to "About", about_path, :class => "nav-link"
            -else
              %li{:class=>"nav-item"}
                =link_to "About", about_path, :class => "nav-link"