%h4.page-title
  = "Business Form: #{@business_form.name}"
%table.invisible-layout-table
  -#%tr
  -#  %td.field-name
  -#    Last updated:
  -#  %td
  -#    = @business_form.updated_at.strftime('%Y-%m-%d %H:%M UTC')
  %tr
    %td.field-name
      Description:
    %td
      = @business_form.description
%br
  - if !@business_form.notes.blank?
    %h5 Notes
    = @business_form.notes

- if policy(BusinessForm).edit?
  = link_to 'Edit', edit_business_form_path(@business_form), :class => "btn btn-info btn-xs"
%br
%br
%h5 Technologies with this Business Form

= render(:partial => 'technologies/table',:locals => {:technology_list => @business_form.technologies})
