= form_for @adoption_level do |f|
  - if @adoption_level.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adoption_level.errors.count, "error")} prohibited this adoption_level from being saved:"
      %ul
        - @adoption_level.errors.full_messages.each do |message|
          %li= message
  %table.invisible-layout-table
    - if policy(AdoptionLevel).edit_name?
      %tr
        %td.field-name
          Name:
        %td.field-value
          = f.text_field :name
    %tr
      %td.field-name
        Description:
      %td.field-value
        = f.text_field :description
      %tr
        %td.field-name
          Notes:
        %td.field-value
          = f.text_area :notes, :rows => 10
  .actions
    = link_to 'Cancel', @adoption_level, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'