%h2 SComCat Feedback

%p
  %b Name:
  = @name

%p
  %b Email address:
  = @email_address

- if @technology
  %p
    = "This is about a particular technology: #{@technology.name}"
  %p
    = "Calling page: #{@calling_page}"
- else
  %p
    This is general feedback (not about any particular technology)

%h3 Feedback
%p
  = @body