= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div.row
    %div.col-lg-4.offset-lg-4
      %h4.page-title Log in
      %table.invisible-layout-table
        %tr
          %td.field-name
            Email:
          %td.field-value
            = f.email_field :email, autofocus: true, autocomplete: "email"
        %tr
          %td.field-name
            Password:
          %td.field-value
            = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          %tr
            %td.field-name
              Remember me?:
            %td.field-value
              = f.check_box :remember_me
      .actions
        = f.submit "Log in", :class => 'btn btn-success btn-xs'
        = render "devise/shared/links"
