%h4.page-title  Roles

%div.row
  %div.col-lg-6
    - if policy(Role).create?
      = link_to 'New Role', new_role_path, :class => "btn btn-info btn-xs"
  %div.col.right-aligned
    = render "_shared/download_machine_readable_data_buttons"


%table{:class=>"table table-condensed table-striped sorted-table"}
  %thead
    %tr
      %th Name
      %th.unsorted-column Description
      %th Users with this role
      - if (policy(Role).edit?)|(policy(Role).destroy?)
        %th.actions Actions

  %tbody
    - @roles.each do |role|
      %tr
        %td.no-wrap= link_to role.name,role
        %td.expand-to-fit-available-space= role.description
        %td.number= role.users.count
        - if (policy(Role).edit?)|(policy(Role).destroy?)
          %td.actions
            - if policy(Role).edit?
              = link_to 'Edit', edit_role_path(role), :title => 'Edit', :class => "btn btn-info btn-xs"
            - if policy(Role).destroy?
              = link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete', :class => "btn btn-info btn-xs"


%div.row
  %div.col-lg-6
    - if policy(Role).create?
      = link_to 'New Role', new_role_path, :class => "btn btn-info btn-xs"
  %div.col.right-aligned
    = render "_shared/download_machine_readable_data_buttons"