%h4.page-title
  = "Role: #{@role.name}"
%table.invisible-layout-table
  %tr
    %td.field-name
      Description:
    %td
      = @role.description
  %tr
    %td.field-name
      Users with this role:
    %td
      = raw(@role.users.collect { |user| link_to(user.email,user).html_safe }.join(', '))

- if policy(Role).edit?
  = link_to 'Edit', edit_role_path(@role), :class => "btn btn-info btn-xs"
