= form_for @readiness_level do |f|
  - if @readiness_level.errors.any?
    #error_explanation
      %h2= "#{pluralize(@readiness_level.errors.count, "error")} prohibited this readiness_level from being saved:"
      %ul
        - @readiness_level.errors.full_messages.each do |message|
          %li= message

  %table.invisible-layout-table
    %tr
      %td.field-name
        Name:
      %td.field-value
        = f.text_field :name
    %tr
      %td.field-name
        Description:
      %td.field-value
        = f.text_field :description
      %tr
        %td.field-name
          Notes:
        %td.field-value
          = f.text_area :notes, :rows => 10
  .actions
    = link_to 'Cancel', @readiness_level, :class => "btn btn-danger btn-xs"
    = f.submit 'Save', :class => 'btn btn-success btn-xs'