%p#notice= notice

%p
  %b Predicate:
  = @relationship.predicate
%p
  %b Subj:
  = @relationship.subj
%p
  %b Obj:
  = @relationship.obj

= link_to 'Edit', edit_relationship_path(@relationship)
\|
= link_to 'Back', relationships_path
