= form_for @technology do |f|
  - if @technology.errors.any?
    #error_explanation
      %h2= "#{pluralize(@technology.errors.count, "error")} prohibited this technology from being saved:"
      %ul
        - @technology.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :notes
    = f.text_area :notes
  .field
    = f.label :adoption_level
    = f.text_field :adoption_level
  .field
    = f.label :readiness_level
    = f.text_field :readiness_level
  .actions
    = f.submit 'Save'
