= form_for @technology do |f|
  - if @technology.errors.any?
    #error_explanation
      %h2= "#{pluralize(@technology.errors.count, "error")} prohibited this technology from being saved:"
      %ul
        - @technology.errors.full_messages.each do |message|
          %li= message
  .div.row
    .div.col-sm-8
      %table.invisible-layout-table
        %tr
          %td.field-name
            Name:
          %td.field-value
            = f.text_field :name
        %tr
          %td.field-name
            Description:
          %td.field-value
            = f.text_area :description, :rows => 10
        %tr
          %td.field-name
            Homepage:
          %td.field-value
            = f.text_field :url
        %tr
          %td.field-name
            Codebase:
          %td.field-value
            = f.text_field :codebase
        %tr
          %td.field-name
            Roadmap:
          %td.field-value
            = f.text_field :roadmap
        %tr
          %td.field-name
            Hosting:
          %td.field-value
            = f.text_field :hosting
        %tr
          %td.field-name
            Licensing:
          %td.field-value
            = f.text_field :licensing
        %tr
          %td.field-name
            Pricing:
          %td.field-value
            = f.text_field :pricing
        %tr
          %td.field-name
            Adoption Level:
          %td.field-value
            - if @technology.new_record?
              = f.select "adoption_level_id", options_from_collection_for_select(AdoptionLevel.all, "id", "name")
            - else
              = f.select "adoption_level_id", options_from_collection_for_select(AdoptionLevel.all, "id", "name", @technology.adoption_level.id)
        %tr
          %td.field-name
            Readiness Level:
          %td.field-value
            - if @technology.new_record?
              = f.select "readiness_level_id", options_from_collection_for_select(ReadinessLevel.all, "id", "name")
            - else
              = f.select "readiness_level_id", options_from_collection_for_select(ReadinessLevel.all, "id", "name", @technology.readiness_level.id)
        %tr
          %td.field-name
            Governance:
          %td.field-value
            - if @technology.new_record?
              = f.select "governance_id", options_from_collection_for_select(Governance.all, "id", "name")
            - else
              = f.select "governance_id", options_from_collection_for_select(Governance.all, "id", "name", @technology.governance.id)
        %tr
          %td.field-name
            Business Form:
          %td.field-value
            - if @technology.new_record?
              = f.select "business_form_id", options_from_collection_for_select(BusinessForm.all, "id", "name")
            - else
              = f.select "business_form_id", options_from_collection_for_select(BusinessForm.all, "id", "name", @technology.business_form.id)
        %tr
          %td.field-name
            Status:
          %td.field-value
            - if @technology.new_record?
              = f.select "status_id", options_from_collection_for_select(Status.all, "id", "name")
            - else
              = f.select "status_id", options_from_collection_for_select(Status.all, "id", "name", @technology.status.id)
        %tr
          %td.field-name
            Base technologies:
          %td.field-value
            = f.text_field :base_tech_list, value: f.object.base_tech_list.join(",")
            %i Separate individual 'base technologies' with a comma. They will be converted to all-lowercase.
        %tr
          %td.field-name
            General Tags:
          %td.field-value
            = f.text_field :tag_list, value: f.object.tag_list.join(",")
            %i Separate individual tags with a comma. Tags will be converted to all-lowercase.
        %tr
          %td.field-name
            Editors' Comments:
            %br
            %i (not displayed to users)
          %td.field-value
            = f.text_area :editorial, :rows => 10, :class => 'editorial-comment-field'
    .div.col-sm-2
      .field
        %h5 Functions
        = collection_check_boxes(:technology, :function_ids, Function.all, :id, :name) do |c|
          = c.check_box
          = c.label
          %br
        %br
      .field
        %h5 Collections
        = collection_check_boxes(:technology, :collection_ids, Collection.all, :id, :name) do |c|
          = c.check_box
          = c.label
          %br
    .div.col-sm-2
      .field
        %h5 Categories
        = collection_check_boxes(:technology, :category_ids, Category.all, :id, :name) do |c|
          = c.check_box
          = c.label
          %br
  .div.row
    .div.col
      .actions
        = link_to 'Cancel', @technology, :class => "btn btn-danger btn-xs"
        = f.submit 'Save', :class => 'btn btn-success btn-xs'
