%h4.page-title
  =@technology.name

%div.row
  %div.col-sm-9
    %table.invisible-layout-table
      %tr
        %td.field-name
          Description:
        %td
          = @technology.description
      %tr
        %td.field-name
          Canonical URL:
        %td
          - if @technology.url
            = link_to @technology.url, @technology.url
      %tr
        %td.field-name
          Adoption level:
        %td
          = link_to @technology.adoption_level.name, @technology.adoption_level
      %tr
        %td.field-name
          Readiness level:
        %td
          = link_to @technology.readiness_level.name, @technology.readiness_level
      %tr
        %td.field-name
          Governance:
        %td
          = link_to @technology.governance.name, @technology.governance
      %tr
        %td.field-name
          Categories:
        %td
          = raw(@technology.categories.collect { |category| link_to(category.name,category).html_safe }.join(', '))
      %tr
        %td.field-name
          Functions:
        %td
          = raw(@technology.functions.collect { |function| link_to(function.name,function).html_safe }.join(', '))
      %tr
        %td.field-name
          General Tags:
        %td
          = raw(@technology.tags.collect { |tag| link_to(tag.name,tag_path(tag)).html_safe }.join(', '))
    %br
    - if !@technology.notes.blank?
      %h5 Notes
      = @technology.notes
  %div.col-sm-3
    - is_depended_on_by = @technology.is_depended_on_by
    - if is_depended_on_by.count > 0
      %h5 Is depended on by
      %ul
        - is_depended_on_by.each do |d|
          %li= link_to d.name,d
    - depends_on = @technology.depends_on
    - if depends_on.count > 0
      %h5 Depends on
      %ul
        - depends_on.each do |d|
          %li= link_to d.name,d
    - if @technology.base_techs.count > 0
      %h5 Base technologies
      %ul
        - @technology.base_techs.each do |base_tech|
          %li=link_to(base_tech.name,tag_path(base_tech))

- if policy(Technology).edit?
  = link_to 'Edit', edit_technology_path(@technology), :class => "btn btn-info btn-xs"
