%h4.page-title
  = "Category: #{@category.name}"
%table.invisible-layout-table
  %tr
    %td.field-name
      Last updated:
    %td
      = @category.updated_at.strftime('%Y-%m-%d %H:%M UTC')
  %tr
    %td.field-name
      Description:
    %td
      = @category.description
%br
  - if !@category.notes.blank?
    %h5 Notes
    = @category.notes

- if policy(Category).edit?
  = link_to 'Edit', edit_category_path(@category), :class => "btn btn-info btn-xs"
%br
%br
%h5 Technologies in this category

= render(:partial => 'technologies/table',:locals => {:technology_list => @category.technologies})
